<p>You have entered... </p>
<p>Name: {{model.firstName}} {{model.lastName}}</p>
<p>Email: {{model.email}}</p>
<p>Twitter: {{model.twitter}}</p>
{{!-- The {{action}} helper is one of the most useful features in Ember. It allows us to bind an action in
the template to an action in the template’s Controller or Route. 
By default it is bound to the click
action, but it can be bound to other actions. --}}


<form {{action "save" on="submit"}}>
	<h2 class="error">{{errorMessage}}</h2>
	<fieldset>
		{{input value=model.firstName placeholder="First Name"}}<br>
		{{input value=model.lastName placeholder="Last Name"}}<br>
		{{input value=model.email placeholder="email"}}<br>
		{{input value=model.twitter placeholder="twitter"}}<br>
		{{!--Ember expects us to define our action handlers inside the property actions in the Controller or
			Route. --}}
		<input type="submit" value="Save" class="primary">
		<button {{action "cancel"}}>Cancel</button>
	</fieldset>
</form>