<ul>
	<li>First Name: {{model.firstName}}</li>
	<li>Last Name: {{model.lastName}}</li>
	<li>Email: {{model.email}}</li>
	<li>twitter: {{model.twitter}}</li>
</ul>
<h3>{{link-to "Edit info" "friends.edit" model}}</h3>

{{!-- Add a link so we can move back and forth between a friend’s profile and the friends index. --}}
{{#link-to 'friends'}} Back to friend's index {{/link-to}}
{{#link-to 'friends.edit'}}edit page{{/link-to}}


